
.cnt {
  padding-top: 10px;
}
.form-container {
  display:flex;
  flex-direction: row;
  align-items: flex-start;
}

.form-container button {
  margin-left: 20px;
}
.label {
  padding-right: 10px;
}

#title{
  color:whitesmoke;
}

.movies{
  margin-left: 12%;
}

.mov {
  border-radius: 10px;
  display: inline-flex;
  margin-top: 20px;
  flex-direction: column;
  width: 25%;
  margin-left: 20px;
  padding: 5px;
  align-items: center;

}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background:  #252736 
}

